:root {
    --success-color: #2691d9;
    --error-color: #e74c3c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(76, 65, 225), rgb(197, 52, 202));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.container h1 {
    padding-bottom: 20px;
    text-align: center;
}

.form {
    position: relative;
    padding-bottom: 40px;
}

.form input {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(169, 172, 182);
    width: 100%;
    font-size: 20px;
}

.form span {
    position: absolute;
    border-bottom: 2px solid var(--success-color);
    width: 0%;
    left: 0;
    top: 23px;
    transition: 0.4s;
}

.form input:focus~span {
    width: 100%;
}

.form.error small {
    color: var(--error-color);
}

.form.error input {
    border-bottom: 2px solid var(--error-color);
}

.btn-submit {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background: #2691d9;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
}

.singup {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.singup a {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.singup a:hover {
    text-decoration: underline;
}