body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: rgb(208, 208, 211);
}
.wrapper {
  width: 90%;
  position: absolute;
  left: 5%;
  right: 5%;
}

.wrapper img {
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.wrapper h3 {
  text-align: center;
  width: 400px;
  padding: 10px;
  margin: auto;
  background: rgb(174, 174, 245);
  border-radius: 5px;
}
.filter {
  margin: 10px 0 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.filter a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown1 {
  float: left;
  overflow: hidden;
}

.dropdown1 .dropbtn1 {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.filter a:hover,
.dropdown1:hover .dropbtn1,
.dropbtn1:focus {
  background-color: red;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.dropdown2 {
  float: left;
  overflow: hidden;
}

.dropdown2 .dropbtn2 {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.filter a:hover,
.dropdown2:hover .dropbtn2,
.dropbtn2:focus {
  background-color: red;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content2 a:hover {
  background-color: #ddd;
}

.dropdown3 {
  float: left;
  overflow: hidden;
}

.dropdown3 .dropbtn3 {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.filter a:hover,
.dropdown3:hover .dropbtn3,
.dropbtn3:focus {
  background-color: red;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content3 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content3 a:hover {
  background-color: #ddd;
}

.dropdown4 {
  float: left;
  overflow: hidden;
}

.dropdown4 .dropbtn4 {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.filter a:hover,
.dropdown4:hover .dropbtn4,
.dropbtn4:focus {
  background-color: red;
}

.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content4 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content4 a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.wrapper .list1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  background: rgb(17, 47, 198);
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 20px;
}
.wrapper .list1 li {
  width: 20%;
  margin-bottom: 30px;
  list-style: none;
  padding: 10px;
  background: white;
  border-radius: 2px;
}
.product-top img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.product .product-top {
  position: relative;
  overflow: hidden;
}
.product .product-top .buy {
  display: block;
  position: absolute;
  width: 100%;
  background: blue;
  color: white;
  padding: 5px 0;
  text-decoration: none;
  text-transform: uppercase;
  bottom: -29px;
  text-align: center;
  transition: 0.5s;
  opacity: 0.5;
}
.wrapper .list1 li:hover .product-top .buy {
  bottom: 0;
}
.wrapper .list1 li:hover .product-top img {
  filter: opacity(70%);
}
.product .product-bottom .sale {
  color: rgb(135, 130, 130);
}
.product .product-bottom .price {
  color: red;
  font-weight: bolder;
}
.product .product-bottom .price span {
  margin-left: 30px;
  background: rgb(236, 232, 232);
  border-radius: 3px;
  font-weight: 100;
}
.product .product-bottom .vote {
  color: red;
}
.product .product-bottom .vote i {
  margin: 0 20px 0 4px;
}
.product .product-bottom .vote span {
  color: black;
}
/*************** phan tong******************** */
.animation {
  width: 100%;
  height: 100vh;
  display: block;
  margin-top: 20px;
  background: rgb(119, 160, 231);
  padding: 20px;
  border-radius: 20px;
}
.tong {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tong .tong_iner {
  width: 25%;
  padding: 0 40px;
}
.control {
  background: rgb(36, 118, 121 0.6);
  font-size: 40px;
  position: absolute;
}

.control.prev {
  left: 10px;
  margin-top: 60px;
}

.control.next {
  right: -20px;
  margin-top: 60px;
}
.list4 {
  display: flex;
  justify-content: space-between;
}
.list4 li {
  width: 250px;
  height: 400px;
  border-radius: 10px;
  background: white;
  list-style: none;
  padding: 10px;
  margin: 0 10px;
}
.list4 li .product .product-top img {
  width: 80%;
}
.animation .new {
  display: block;
  margin: 10px auto;
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  border: none;
}
.animation .new:hover {
  cursor: pointer;
  background: rgb(231, 174, 174);
}
/***************** phần server************** */
.service {
  width: 100%;
  height: 300px;
  display: block;
  margin-top: 20px;
  background: rgb(236, 238, 209);
  padding: 20px;
  border-radius: 20px;
}
.service .title h2 {
  height: 50px;
  text-align: center;
}
.service .list2 {
  height: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.service .list2 li {
  width: 250px;
  height: 200px;
  background: rgb(180, 180, 217);
  position: relative;
  border-radius: 20px;
}
.service .list2 li:hover {
  position: relative;
  top: -20px;
}
.service .list2 li .icon {
  position: absolute;
  top: 20px;
  left: 40%;
}
.service .list2 li .icon div {
  border-radius: 50%;
  font-size: 40px;
  background: red;
  padding: 0 15px;
}
.service .list2 li .text {
  position: absolute;
  top: 40px;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}
.service .list2 .list2-1 {
  background: rgb(255, 115, 0);
}
.service .list2 .list2-2 {
  background: rgb(200, 255, 0);
}
.service .list2 .list2-3 {
  background: rgb(0, 255, 213);
}
.service .list2 .list2-4 {
  background: rgb(0, 132, 255);
}
.cater {
  width: 100%;
  height: 500px;
  display: block;
  justify-content: space-between;
  margin: 40px 0;
  background: white;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 20px;
}
.cater .title h2 {
  height: 40px;
  text-align: center;
}
.cater .list3 {
  height: 200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}
.cater .list3 .box {
  display: block;
  margin: 20px;
  text-decoration: none;
}
.cater .list3 .box:hover img {
  transform: scale(1.2);
}
.cater .list3 .box img {
  width: 100px;
}
.cater .list3 .box span {
  display: block;
  text-align: center;
}
/* ******************** */
.information {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.fa-facebook,
.fa-youtube {
  width: 40px;
  color: blue;
}
.more img {
  margin: -7px;
  width: 100px;
  height: 40px;
  object-fit: cover;
}
